.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-height: 100vh;
  background-color: var(--text-color);
  color: var(--primary-white);
  padding: 10px 0;
  left: 0;
  top: 0;
}

.title {
    font-size: 22px;
}

.subtitle {
  font-size: 15px;
  margin: 0px;
}

.sidebar-divider {
    width: 75%;
    border: none;
    border-top: solid 0.2px white;
    margin: 16px 0 16px 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar li {
    padding: 0;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    color: var(--primary-white);
}

.nav-link:hover {
    background-color: var(--secundary-blue);
}

.sidebar button.nav-link {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.sidebar button.nav-link:hover {
    background-color: var(--secundary-blue);
}

.sidebar-icon {
    font-size: 32px;
}